<!DOCTYPE html>
<html><head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="print.css" type="text/css" media="print" />
    <title>1w6 - Ein Würfel System</title>
</head>
<body>
<header><img id="logo" src="1w6-logo-small.png" alt="1w6 Logo" href="#downloads" />
<p><a href="http://1w6.org">1w6</a>
</header>

<article>
<section>

<aside><a href="#downloads" title="Das Ein Würfel System herunterladen">Download</a><br />
<a href="#downloads" title="Das Ein Würfel System herunterladen"><img src="ews-dok-icon-128px.png" alt="Cover" title="1w6-Regeln: Die Grundregeln" width="93" height="130" /></a>
</aside>

<!-- <p style="text-align: justify;">Ein schlankes, <a href="/deutsch/anhang/freies-rollenspiel/">frei lizensiertes</a>, universelles <a href="http://de.wikipedia.org/wiki/Pen-&-Paper-Rollenspiel#Regelsysteme">Rollenspielregelwerk</a>, das es dir erleichtern soll, <a href="/deutsch/regeln/das-ews-deine-beduerfnisse-anpassen/deine-welt-als-rollenspiel-veroeffentlichen" title="Wie du das EWS für deine Welt anpassen kannst">deine Welt als Rollenspiel zu veröffentlichen</a>. </p> -->

<!-- <p>Die Grundregeln passen auf einen <a href="/deutsch/regeln/downloads/flyerbuecher" title="Flyerbücher: Maximal komprimierte, klassische Rollenspielregeln">Handzettel</a>, werden seit 2004 von verschiedenen Runden knapp einmal die Woche getestet und du kannst (<em><a href="http://lizenz.1w6.org">und darfst!</a></em>) sie direkt für deine Welt verwenden.</p> -->

<!-- <p><a href="/deutsch/regeln/hintergr-nde/f-r-welche-runden-eignet-sich-das-ews">Nach unserer Erfahrung</a> eignet sich das <em>1w6-System</em> am Besten für Runden, in denen schnelle, klare Ergebnisse von Handlungen und plastische Charaktere mit deutlichen Erkennungsmerkmalen gewünscht sind. Wenn das interessant klingt, dann <a href="/deutsch/regeln/quellen/" title="Downloads">testet es doch einfach</a>.</p> -->
</section>
</article>

<article>
<section>
